body, html {
    height: 100%;
    width: 100%;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
}

section {
    float: none;
}

/* map */

#map {
    position: absolute;
    left:0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

/* content */

#content {
    margin-top: 30px;
    position: fixed;
    width: 100%;
    height: 15%;
    z-index: 100;
}

#content_bg {
    width: 100%;
    height: 100%;
    background: url("../images/bg_images.png");
}

#content h1 {
    color: white;
}