body, html {
    height: 100%;
    width: 100%;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
}

/* Round corners */

.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* map */

#map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

/* content */

#content {
    margin: 30px 5px 0;
    position: fixed;
    width: 100%;
    height: 15%;
    z-index: 100;
    color: white;
}

#content_bg {
    width: 100%;
    height: 100%;
    padding: 9px;
    background: url("../images/bg_images.png");
}

#ac-input {
    width: 250px;
}