<%= form_tag  'index', :method => 'get' do %>
    <p>
        <div id="demo">
          <label for="ac-input">Latitude:</label><br/>
          <input id="ac-input" type="text"/>
        </div>
    </p>
<% end %>